@model List<Hotel.Comum.ViewModels.ReservaViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Consulta Reservas</h2>
</div>

<form class="form-inline" action="index" method="get" style="padding: 8px;">
    <div class="form-group">
        <label for="dtaCheckIn">Data Check-In:</label>
        <input type="date" class="form-control" name="dtaCheckIn" id="dtaCheckIn" value="@ViewBag.dtaCheckOut" />
    </div>
    <div class="form-group">
        <label for="dtaCheckOut">Data Check-Out:</label>
        <input type="date" name="dtaCheckOut" id="dtaCheckOut" value="@ViewBag.dtaCheckOut" />
    </div>

    <div class="form-group">
        <label for="ddlTiposUh">Tipo Uh:</label>
        <select class="form-control" id="ddlTiposUh" name="ddlTiposUh">
            @foreach (var tipoUh in ViewBag.TiposUh)
            {
                <option value="@tipoUh.Id">@tipoUh.Descricao</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-default">Consultar</button>
    <a class="btn btn-primary" href="#">Nova reserva</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Solicitante</th>
            <th>Estadia</th>
            <th>Situação</th>
            <th>Adultos</th>
            <th>Crianças</th>
            <th>Tipo de UH</th>
            <th>Valor total</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Solicitante</td>
                    <td>@item.Estadia</td>
                    <td>@item.Situacao</td>
                    <td>@item.QtdeAdt</td>
                    <td>@item.QtdeChd</td>
                    <td>@item.TipoUhDescricao</td>
                    <td>@item.ValorEstadiaPrevisto</td>
                </tr>
            }
        
    </tbody>

        @if(Model.Count <= 0)
            {
                <tfoot>
                    <tr>
                        <td colspan="7">Nenhuma reserva encontrada.</td>
                    </tr>
                </tfoot>
            }
    
</table>

